article.container {
    display: grid;
    grid-template-areas:
        "options"
        "table";
}

article.container div.options {
    grid-area: options;
}

article.container div.options button {
    cursor: pointer;
}


article.container .table {
    grid-area: table;
}