div.container {
  display: grid;
  grid-template-areas:
    "header header header"
    ". main .";
  grid-template-columns: 0 auto 0;
  gap: 2em;
}

div.container header {
  display: flex;
  grid-area: header;
  background: var(--color-primary);
  padding: 0 2em;
  height: 4.2em;
  width: 100vw;
  align-items: center;
}

div.container header span.headerBarMenu div {
  background-color: #FFFFFF;
}

div.container header img.logo {
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

div.container div.menu {
  position: fixed;
  display: flex;
  width: 0;
  height: 100%;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  background: rgba(0, 0, 0, 0.6);
  transition: 0.5s;
}

div.container div.menu nav {
  width: 12em;
  padding: 2em;
  background: #FFFFFF;
}

div.container div.menu.show {
  width: 100vw;
}

div.container div.menu nav span.barMenu {
  opacity: 0;
  transition: 0.5s;
}

div.container div.menu.show nav span.barMenu {
  opacity: 1;
}

div.container div.menu nav ul {
  padding-top: 3em;
}

div.container div.menu nav ul li {
  margin-bottom: 1em;
}

div.container div.menu nav ul li:hover {
  color: var(--color-primary);
}

div.container main {
  grid-area: main;
  background: #ffffff;
  padding: 2em;
  border-radius: var(--border-radius);
}

div.container main h1 {
  margin-bottom: 1em;
}

@media screen and (min-width: 800px) {
  div.container {
    grid-template-areas:
      "header header header header"
      ". menu main .";
    grid-template-columns: 0 12em auto 0;
  }

  div.container header span.headerBarMenu {
    display: none;
  }

  div.container div.menu {
    grid-area: menu;
    position: relative;
    z-index: 0;
    border-radius: var(--border-radius);
  }

  div.container div.menu,
  div.container div.menu.show {
    width: 12em;
  }

  div.container div.menu nav span.barMenu {
    display: none;
  }

  div.container div.menu nav ul {
    padding-top: 0;
  }
}